<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Membership{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            {% if session.get('user_id') %}
            <ul>
                <li><a href="{{ url_for('auth.index') }}">Home</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% if session.get('tenant_id') == Config.SUPERADMIN_TENANT_ID %}
                <li><a href="{{ url_for('admin.admin_panel', selected_tenant_id=session.get('tenant_id')) }}">Admin
                        Panel</a></li>
                {% else %}
                <li><a href="{{ url_for('members.demographics', tenant_id=session.get('tenant_id')) }}">Demographics</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>